.typechip {
    color:white!important;
}
.grass{
    background-color: #9bcc50!important;
}
.poison{
    background-color: #b97fc9!important;
}
.fire{
    background-color: #fd7d24!important;
}
.water{
    background-color: #4592c4!important;
}
.normal{
    background-color: #a4acaf!important;
}
.fighting{
    background-color: #d56723!important;
}
.flying{
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef!important;
}
.ground{
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f!important;
}
.rock{
    background-color: #a38c21!important;
}
.bug{
    background-color: #729f3f!important;
}
.ghost{
    background-color: #7b62a3!important;
}
.steel{
    background-color: #9eb7b8!important;
}
.electric{
    background-color: #eed535!important;
}
.psychic{
    background-color: #f366b9!important;
}
.ice{
    background-color: #51c4e7!important;
}
.dragon{
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf!important;
}
.dark{
    background-color: #707070!important;
}
.fairy{
    background-color: #fdb9e9!important;
}